:root {
  --space: 1.9rem;
  --column-w: 11em;
  --line-height: 1.9;
  --windowsHeight: 100vh;
  --white: #fefefe;
  --black: #222;
  --gray-dark: #666;
  --gray: #aaa;
  --gray-light: #eee;
  --red: #FC2727;
  --red-light: #fda8a8;
  --blue: #29ABE2;
  --blue-light: #a8dcf2;
  --yellow: #F4EF3B;
  --yellow-light: #faf8b0;
  --page-color: #bbb;
}

html, body, div, span, button,
h1, h2, h3, h4, h5, h6, p, blockquote,
cite, code, img, small, strong, b, i,
article, canvas, figcaption, figure,
footer, header, menu, nav, section, ul, ol, li,
pre, time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: inherit;
  line-height: inherit;
}

button {
  font-family: inherit;
  line-height: inherit;
  background: none;
  cursor: pointer;
}

cite {
  font-style: italic;
  text-shadow: 0 0 inherit;
}

ul {
  list-style: none;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.c-main {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.c-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 20vw;
  z-index: 2;
  opacity: 0.2;
  top: 50%;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bolder;
  animation: hellotitle 4s infinite linear alternate;
}
@keyframes hellotitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.21;
  }
}

.c-chat {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
  padding: calc(var(--space) / 2);
  gap: var(--space);
  bottom: 0;
  right: 0;
}
@media (min-width: 700px) {
  .c-chat {
    padding: var(--space);
  }
}
.c-chat__img {
  max-width: 25vw;
  max-height: 20vh;
  border-radius: 0.5em;
}
.c-chat__content {
  gap: calc(var(--space) / 2);
  max-width: 28em;
}
.c-chat__text {
  max-height: 0;
  overflow: hidden;
  animation: helloText;
}
.c-chat__text span {
  background-color: rgba(190, 255, 137, 0.9);
  border-radius: 0.5em 0.5em 0;
  display: block;
  padding: calc(var(--space) / 2);
  margin-right: 0.6em;
  position: relative;
}
.c-chat__text span::after {
  content: "";
  position: absolute;
  right: -0.6em;
  bottom: 0;
  border: 0.3em solid;
  border-color: transparent transparent rgba(190, 255, 137, 0.9) rgba(190, 255, 137, 0.9);
}

#text1 {
  animation-delay: 1s;
  animation-duration: 8s;
}

#text2 {
  animation-delay: 5s;
  animation-duration: 4s;
}

#text3 {
  animation-delay: 10s;
  animation-duration: 8s;
}

#text4 {
  animation-delay: 14s;
  animation-duration: 4s;
}

#text5 {
  animation-delay: 19s;
  animation-duration: 8s;
}

#text6 {
  animation-delay: 27s;
  animation-duration: 6s;
}

#text7 {
  animation-delay: 31s;
  animation-duration: 6s;
}

@keyframes helloText {
  0% {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
  }
  10% {
    max-height: 4em;
    opacity: 1;
    margin-top: calc(var(--space) / 2);
  }
  90% {
    max-height: 4em;
    opacity: 1;
    margin-top: calc(var(--space) / 2);
  }
  100% {
    max-height: 4em;
    opacity: 0;
    visibility: hidden;
    margin-top: calc(var(--space) / 2);
  }
}
.c-spiral {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 130vmax;
  width: 130vmax;
}
.c-spiral__svg {
  height: 100%;
  will-change: transform;
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.c-spiral__svg > * {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.c-spiral__svg-red {
  opacity: 0.46;
  stroke: #ff6a6f;
  stroke-width: 18;
}
.c-spiral__svg-blue {
  opacity: 0.46;
  stroke: #29abe2;
  stroke-width: 18;
}
.c-spiral__svg-black {
  stroke: var(--black);
  stroke-width: 18;
}
.c-spiral__svg-black-blur {
  opacity: 0.9;
  stroke-width: 14;
  stroke: var(--black);
}