
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Noto Serif'),
		url('~assets/fonts/noto-serif-v11-vietnamese_latin-regular.woff2') format('woff2'),
		url('~assets/fonts/noto-serif-v11-vietnamese_latin-regular.woff') format('woff');
}

:root {
    --space: 1.9rem;
    --column-w: 11em;
    --line-height: 1.9;

    --windowHeight: 100vh;

    --white: #fefefe;
    --black: #222;
    --gray-dark: #666;
    --gray: #aaa;
    --gray-light: #eee;
    --red: #ff2b5e;
    --red-light: #ff94ad;
    --blue: #3399ff;
    --blue-light: #98cbff;
    --yellow: #e2ff38;
    --yellow-light: #eeff90;

    --page-color: #bbb;
}


body,
#__nuxt,
#__layout,
main {
    height: 100%;
}

html {
    height: 100%;
    font-family: $font-family;
    color: $font-color;
    line-height: var(--line-height);
}

body {
	overflow-x: hidden;
    overflow-y: scroll;
    font-size: 0.9em;
    @media (min-width: 24em) {
        font-size: calc(0.9em + (1.1 - 0.9) * ((100vw - 24em) / (66 - 24)));
    }
    @media (min-width: 66em) {
        font-size: 1.1em;
    }
}

img {
	display: block;
    max-width: 100%;
	height: auto;
}
