

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('~/assets/fonts/noto-serif-v11-latin-regular.woff2') format('woff2'),
        url('~/assets/fonts/noto-serif-v11-latin-regular.woff') format('woff');
}


:root {
    --space: 1.85rem;
    --line-height: 1.85;

    --windowsHeight: 100vh;

    --white: #fff;
    --black: #111;
}


body,
#__nuxt,
#__layout {
    height: 100%;
}

body {
    overflow-y: scroll;
}

html {
    height: 100%;
    font-family: $font-family; 
    color: $font-color;
    line-height: var(--line-height);
}

