


.page {

    &-leave-to,
    &-enter {
        .t-title span {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transform: translateY(80%);
        }
        .t-section {
            opacity: 0;
            transform: translateY(10px);
        }
		.t-fade {
            opacity: 0;
        }
    }

    &-leave,
    &-enter-to {
        .t-title span {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateY(0);
        }
        .t-section {
            opacity: 1;
            transform: translateY(0);
        }
		.t-fade {
            opacity: 1;
        }
    }

    &-leave-active,
    &-enter-active {
        .t-title span {
            transition: .5s cubic-bezier(.47,1.64,.41,.8);
        }
		.t-fade,
        .t-section {
            transition: .5s ease-in-out;
        }
        transition: .5s;
    }
    &-enter-active {
        .t-title span + span,
        .t-section + .t-section {
            transition-delay: .15s;
        }
    }

}


.layout {
    &-leave-to,
    &-enter {
		opacity: 0;
		@media (min-width: $mobile) {
			opacity: 1;
			.l-layout-experiment__header {
				transform: translateX(calc(var(--space) / 2 - .3em));
			}
			.l-layout-experiment__footer {
				transform: translateX(calc(var(--space) / 2));
			}
			.t-fade,
			main {
				opacity: 0;
			}
		}
    }
	&-enter {
		.l-layout-experiment__footer,
		.l-layout-experiment__header {
			opacity: 0;
		}
	}

    &-leave,
    &-enter-to {
		@media (min-width: $mobile) {
			.l-layout-experiment__header {
				transform: translateX(0);
			}
			.l-layout-experiment__footer {
				transform: translateX(0);
			}
			.t-fade,
			main {
				opacity: 1;
			}
		}
    }

    &-leave-active {
		.l-layout-experiment__header,
		.l-layout-experiment__footer {
			transition: .4s .4s;
		}
		.t-fade,
		main {
			transition: .4s ease-in-out;
		}
		transition: .8s;
	}
    &-enter-active {
        .l-layout-experiment__header,
		.l-layout-experiment__footer {
			transition: .4s ease-in-out;
		}
		.t-fade,
		main {
			transition: .4s .4s;
		}
        transition: .8s;
    }
}
